

.video-list-box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row; /* | row-reverse | column | column-reverse */
  flex-wrap: wrap; /* nowrap(默认) | wrap | wrap-reverse */
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.video-list-item {
  width: 355.6px;
  overflow: hidden;
  border: 2px solid transparent;
}


.video-list-item:hover{
  cursor: pointer;
  color: white;
  border: 2px solid transparent;
}

.img-cover{
  width: 100%!important;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.video-block-info {
  -webkit-transition: color .2s ease, height .2s ease;
  -moz-transition: color .2s ease, height .2s ease;
  -ms-transition: color .2s ease, height .2s ease;
  -o-transition: color .2s ease, height .2s ease;
  transition: color .2s ease, height .2s ease;
  display: block;
  width: 100%;
  margin: 8px 0;
  font-size: 12px;
  color: #000;
  line-height: 16px;
  height: 18px;
  overflow: hidden;
}